/* Reset */
body {
  margin: unset;
}

h1 {
  margin: unset;
  font-size: unset;
  font-weight: unset;
}

ul {
  margin: unset;
  padding: unset;
}

li {
  list-style-type: none;
}

/* Typography */
:root {
  font-family: Arial;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

/* Commons */
label {
  font-weight: 700;
}

/* Component */

.wrapper {
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
}

.section {
  padding: 20px;
  border-radius: 10px;
  background-color: pink;
  color: mediumaquamarine;

  min-height: 500px;
}

.toggle-container {
  box-shadow: inset 0 0 100px white;
  margin-left: auto;
  width: 42px;
  padding: 5px;
  border-radius: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.toggle-switch {
  position: absolute;
  top: 0;
  left: 0;

  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: none;
  background-color: mediumaquamarine;

  transition: all 0.5s;
}

.toggle-switch:hover,
.add-btn:hover {
  cursor: pointer;
}

.section h1 {
  margin-bottom: 10px;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 700;
}

.section-group {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.section-group input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.8rem;
}

.section-group input:focus {
  outline: 2px solid mediumaquamarine;
}

.add-btn {
  flex-shrink: 0;
  width: 40px;
  font-size: 2.8rem;
  border: none;
  border-radius: 5px;
  background-color: mediumaquamarine;
  color: pink;
}

.section-group-list {
  margin: 10px 0;
  box-shadow: inset 0 0 20px red;
}

.section-group-list li {
  box-shadow: inset 0 0 20px blue;
}

/* 다크모드 관련 클래스명 - add-btn보다 아래에 있어야지 적용 */
.type_dark {
  background-color: black;
  color: #9370db;
}

.type_dark-button {
  background-color: #9370db;
  color: black;
}

/* 다크모드 관련 클래스명 - add-btn보다 아래에 있어야지 적용 */

.add-list {
  margin-top: 20px;
}

.add-list li {
  margin: 10px 0;
  font-size: 1.8rem;
}
